body{
    margin: 0;
    border: 0;
    top: 0;
    background-color: black;
    overflow-x: hidden;
}
.back {
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-image: url(image/fon.png);
}
.firstblock{
    display: inline;
    width: 100px;
    height: 30px;
    margin: 0;
    border: 0;
    top: 0;
}
.maintext{
    display: flex;
    justify-content: center;
    margin: 0 0 70px 0;
    border: 0;
    top: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 110px;
    flex-wrap: wrap;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(90deg,rgba(149, 152, 61, 1) 0%, rgba(150, 247, 59, 1) 50%, rgba(227, 207, 25, 1) 100%);
    animation-duration: 3s;
    animation-name: slidein; 
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;  
  }
}
.secondblock{
    display: flex;
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0%;
    border: 0;
    justify-content: space-between;
    animation: slideUp1 3s forwards;
    position: relative;
}
.secondtext{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 5%;
    justify-content: center;
}
.textin{
    display: flex;
    width: 579.66px;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: white;
    align-items: center;
}
.second{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0% 5%;
    justify-content: center;

}
.secondpic{
    width: 500px;
    height: 100%;
    display: flex;
}

@keyframes slideUp1 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.block3{
    display: flex;
    width: 100%;
    height: 500px;
    margin: 7% 0 0 0;
    padding: 0%;
    border: 0;
    justify-content: space-between;
    opacity: 0;
  transform: translateY(50px);
  transition: all 2s ease-out;
}

.block3 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 2s ease-out;
}

.block3.animated {
  opacity: 1;
  transform: translateY(0);
}

/* Или с CSS анимацией для более сложных эффектов */
.block3.animated {
  animation: slideUp 2s ease-out forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.text3{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 5%;
    justify-content: center;
}
.textin3{
    display: flex;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: white;
    align-items: center;
}
.blockpic3{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 5%;
    justify-content: center;
}
.pic3{
    width: 400px;
    height: 100%;
    margin: 0 5%;
    display: flex;
}



.present{
  display: flex;
  width: 100%;
  height: 150px;
  margin: 50px 0 ;
  justify-content: center;
}
.buttonPresent{
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: white;
  font-size: 50px;
  background-image: linear-gradient(90deg,rgba(149, 152, 61, 1) 0%, rgba(150, 247, 59, 1) 50%, rgba(227, 207, 25, 1) 100%);
  
}