body{
    margin: 0;
    border: 0;
    top: 0;
    background-color: black;
    overflow-x: hidden;
}
/* .back {
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-image: url(image/fon.png);
    background-image: url(image/fonsite.mp4);
} */
 .back {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.back video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.firstblock{
    display: inline;
    width: 100px;
    height: 30px;
    margin: 0;
    border: 0;
    top: 0;
}
.maintext{
    display: flex;
    justify-content: center;
    margin: 0 0 70px 0;
    border: 0;
    top: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 110px;
    color: transparent;
    background-clip: text;
    color: wheat;
    animation: slidein 6s linear infinite;
    animation-delay: 0ms;
    padding: 0 5% 0 0;
    white-space: nowrap;
    overflow: hidden;
}
@keyframes slidein {
  from {
    width: 100%;
    transform: translateX(100%);
  }
  to {
    width: 100%;  
    transform: translateX(-100%);
  }
}
.block3{
  display: flex;
  width: 100%;
  height: 500px;
  margin: 7% 0 0 0;
  padding: 0%;
  border: 0;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(50px);
  transition: all 2s ease-out;
}

.block3 {
  opacity: 0;
  transform: translateY(50px);
}

.block3.animated {
  opacity: 1;
  transform: translateY(0);
}
/* .text3{
    display: flex;
    width: 100%;
    height: 50%;
    margin: 7% 5% 0;
    justify-content: center;
    background-image: linear-gradient(90deg,rgba(149, 152, 61, 1) 0%, rgba(150, 247, 59, 1) 50%, rgba(227, 207, 25, 1) 100%);
    border-radius: 70px;
}
.textin3 {
    color: transparent;
    margin: 5px 0 0 25px;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-style: normal;
    align-items: center;
    justify-content: space-between;
    display: flex;
    transition: color 0.8s ease;
}

.textin3:hover {
    color: white;
}
.text3:hover {
  box-shadow:
  -1em 0 3em rgb(126, 126, 15);
  border-radius: 70px;
} */
.text3 {
    display: flex;
    width: 100%;
    height: 50%;
    margin: 7% 5% 0;
    justify-content: center;
    background-image: linear-gradient(90deg, rgba(149, 152, 61, 1) 0%, rgba(150, 247, 59, 1) 50%, rgba(227, 207, 25, 1) 100%);
    border-radius: 70px;
    color: white;
    position: relative; /* Добавляем для позиционирования дочерних элементов */
}

.textin3 {
    opacity: 0;
    transition: opacity 0.5s ease;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-style: normal;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    position: absolute; /* Чтобы элементы были поверх друг друга */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.textin31 {
    opacity: 1;
    transition: opacity 0.5s ease;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-style: normal;
    align-items: center;
    justify-content: space-between;
    display: flex;
    color: white;
    position: absolute; /* Чтобы элементы были поверх друг друга */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: 0;
    text-align: center;
}

.text3:hover .textin31 {
    opacity: 0;
}

.text3:hover .textin3 {
    opacity: 1;
    margin: 0; /* Убираем лишние отступы */
    box-shadow: 0 0 3em rgb(227, 239, 2);
    border-radius: 70px;
}

.blockpic3{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 5%;
    justify-content: center;
}
.pic3{
    width: 400px;
    height: 100%;
    margin: 0 5%;
    display: flex;
    border-radius: 5%;
}
.leftpic{
    box-shadow:
  -1em 0 3em rgb(126, 126, 15);
}
.rightpic{
    box-shadow:
  1em 0 3em rgb(126, 126, 15);
}
.present{
  display: flex;
  width: 100%;
  height: 150px;
  margin: 7% 0 ;
  justify-content: center;
}
.buttonPresent{
  display: flex;
  width: 60%;
  align-items: center;
  margin: 0;
  padding: 0;

  justify-content: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: white;
  font-size: 50px;
  background-image: linear-gradient(90deg,rgba(149, 152, 61, 1) 0%, rgba(150, 247, 59, 1) 50%, rgba(227, 207, 25, 1) 100%);
  text-decoration: none;
  border-radius: 70px;
  transition: all 0.3s ease;

}
.buttonPresent:hover {
  font-size: 51px;
  box-shadow: 0 0 2em rgba(227, 239, 2, 0.8);
}
.tag{
  display: flex;
  justify-content: right;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: rgb(20, 5, 5);
  font-size: 13px;
  margin: 0 20px 20px 0;
}